<div class="page-header-area-2 gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="small-breadcrumb">
          <div class="breadcrumb-link">
            <ul>
              <li>
                <a [routerLink]="['/']" title="Go to home">
                  Home
                </a>
              </li>
              <li class="active">
                <a href="javascript:void(0);" class="active">
                 About
                </a>
              </li>
            </ul>
          </div>
          <div class="header-page">
            <h4>About</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <p> About Machine Hub Asia
      Machine Hub Asia <br>
       is an integrated platform which brings together manufacturers, dealers, traders and end users who are looking to sell, buy and rent new & used construction and industrial heavy machineries such as cranes, excavators, forklifts, backhoe, bulldozers, air compressors, aerial lift platform, lorry/ trailers/ trucks, power generators, wheeled loading shovels, skid loader, compactors & other products. Founded in Malaysia, our company’s vision is to provide a reliable online marketplace with robust search capabilities for machinery within the Asia Pacific region primarily in Malaysia, Singapore, China, Indonesia, Thailand, Vietnam, India, Myanmar, Bangladesh, Cambodia, South Korea, Japan & etc. <br>

      At Machine Hub Asia, we aspire to provide our users with the most relevant and updated database on the net. Our committed teams are on the ground, working together with our advertisers and end users to create synergies and ensuring our services keeps up with the ever-changing needs of the market. <br>

      Whether you are a trader, contractor, manufacturer, dealer or renter, you are most welcomed to contact us for any enquiry. Our team will be most eager to see how we can be of any help to your business.</p>
  </div>
</section>
