<footer class="footer-top bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<h4> Machine Hub Asia </h4>
				<img src="assets/image/footer_sp.png" />
				<p>Machine Hub Asia is an online construction & industrial machinery marketplace for new and used machinery  for sales and rental.</p>
				<p>Search for new and used cranes, excavators, backhoe, dozers, lorry, trailers, trucks and many other machineries in Malaysia and Asia.</p>
				<p><br/>Copyright &copy; 2018 machinehubasia.com. All rights reserved.</p>
			</div>

			<div class="col-xs-6 col-sm-3 widget socail-icons">
				<h4> Follow Us </h4>
        <img src="assets/image/footer_sp.png" alt="">

				<ul>
					<li>
						<a class="Facebook " href="https://www.facebook.com/machinehubasia" target="_blank">
							<i class="fa fa-facebook"></i>
						</a>
						<span>
							<a class="text-light" style="text-decoration: none;" href="https://www.facebook.com/machinehubasia" target="_blank">
            <img src="assets/image/social-icons/facebook.png" alt="">
            Facebook</a>
						</span>
					</li>
					<li >
						<a class="Linkedin " href="https://www.linkedin.com/company/machinehub-asia" target="_blank">
              <img src="assets/image/social-icons/linkedin.png" alt="">

						</a>
						<span>
							<a class="text-light" style="text-decoration: none;" href="https://www.linkedin.com/company/machinehub-asia" target="_blank">Linkedin</a>
						</span>
					</li>
				</ul>
			</div>

			<div class="col-xs-6 col-sm-3">
				<h4> Quick Links </h4>
				<img src="assets/image/footer_sp.png" />
				<ul>
					<li>
						<a class="text-light" style="text-decoration: none;" [routerLink]="['/p/terms-conditions']" title="Terms & Conditions">Terms & Conditions</a>
					</li>

					<li>
						<a class="text-light" style="text-decoration: none;" [routerLink]="['/p/privacy']" title="Privacy">Privacy</a>
					</li>

					<li>
						<a class="text-light" style="text-decoration: none;" [routerLink]="['/p/contact']" title="Contact">Contact</a>
					</li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-3 contact-info">
				<h4>Contact Us </h4>
				<img src="assets/image/footer_sp.png" />
				<p>
					<span><strong class="text-warning">For all enquiries, please contact us at:</strong></span>
					<span>H/P: +6012 998 8295, +6017 791 1773</span>
					<span>E: enquiry@machinehubasia.com</span><br>
					<span>
						<strong class="text-warning">Address:</strong>
					</span>
            <br>
					<span>No.5, Jalan Riang 21, Kawasan Perindustrian Taman Gembira, Tampoi 81200, Johor Bahru, Johor, Malaysia.</span>
				<br>	<span class="">
						<strong class="text-warning ">Hours:</strong>
					</span><br>
					<span>Monday - Friday: 8.30 a.m. – 7.00 p.m.
						<br/>Saturday: 8.30 a.m. – 1.00 p.m.
						<br/>Sunday: Closed</span>
				</p>
			</div>
		</div>
	</div>
</footer>
