<div class="page-header-area-2 gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="small-breadcrumb">
          <div class="breadcrumb-link">
            <ul>
              <li>
                <a [routerLink]="['/']" title="Go to home">
                  Home
                </a>
              </li>
              <li class="active">
                <a href="javascript:void(0);" class="active">
                  contact
                </a>
              </li>
            </ul>
          </div>
          <div class="header-page">
            <h4>Contact</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <p> <b>  For all enquiries, please contact us at:  </b> <br> H/P: +6012 998 8295, +6017 791 1773 <br> E: enquiry@machinehubasia.com </p>
    <p> <b>Address:</b> <br> No.5, Jalan Riang 21, Kawasan Perindustrian Taman Gembira, Tampoi 81200, Johor Bahru, Johor, Malaysia </p>
    <p><b>Hours:</b><br>Monday – Friday: 8.30 a.m. – 7.00 p.m. <br>Saturday: 8.30 a.m. – 1.00 p.m. <br> Sunday: Closed</p>
  </div>
</section>
