<p>machine-hub works!</p>
<div class="page-header-area-2 gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="small-breadcrumb">
          <div class="breadcrumb-link">
            <ul >
              <li class="d-inline-block  mx-3">
                <a class="text-secondary" [routerLink]="['/']" title="Go to home">
                  Home
                </a>
              </li>
              >
              <li class="active d-inline-block">
                <a  href="javascript:void(0);" class="active">
                 <p class="text-secondary"> Launch of Machine Hub Asia platform in Malaysia </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col mx-5">
        <h4 class="my-5">Launch Of Machine Hub Asia Platform In Malaysia</h4>
        <p class="my-5">Machine Hub Asia, the online marketplace for
          heavy machinery is officially in business. The
          online platform services is now available in Malaysia
           and Singapore. The team looks forward to work
           together with businesses and users with all their
           needs in this industry. Whether you are looking to
           buy or sell excavators, cranes, forklifts, backhoes
           and all sorts of other heavy machinery, Machine Hub
           Asia will be able to serve your needs...</p>
      </div>
    </div>
  </div>

</section>
